[dir="rtl"] .space-x-1 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(0.25rem * var(--space-x-reverse)) !important;
  margin-right: calc(0.25rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-2 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(0.5rem * var(--space-x-reverse)) !important;
  margin-right: calc(0.5rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-3 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(0.75rem * var(--space-x-reverse)) !important;
  margin-right: calc(0.75rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-4 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(1rem * var(--space-x-reverse)) !important;
  margin-right: calc(1rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-5 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(1.25rem * var(--space-x-reverse)) !important;
  margin-right: calc(1.25rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-6 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(1.5rem * var(--space-x-reverse)) !important;
  margin-right: calc(1.5rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-7 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(1.75rem * var(--space-x-reverse)) !important;
  margin-right: calc(1.75rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-8 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(2rem * var(--space-x-reverse)) !important;
  margin-right: calc(2rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-9 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(2.25rem * var(--space-x-reverse)) !important;
  margin-right: calc(2.25rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-10 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(2.5rem * var(--space-x-reverse)) !important;
  margin-right: calc(2.5rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-11 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(2.75rem * var(--space-x-reverse)) !important;
  margin-right: calc(2.75rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-12 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(3rem * var(--space-x-reverse)) !important;
  margin-right: calc(3rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-13 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(3.25rem * var(--space-x-reverse)) !important;
  margin-right: calc(3.25rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-14 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(3.5rem * var(--space-x-reverse)) !important;
  margin-right: calc(3.5rem * (1 - var(--space-x-reverse))) !important;
}
[dir="rtl"] .space-x-15 > :not(template) ~ :not(template) {
  --space-x-reverse: 0 !important;
  margin-left: calc(3.75rem * var(--space-x-reverse)) !important;
  margin-right: calc(3.75rem * (1 - var(--space-x-reverse))) !important;
}
